dj-database-url
Django
gunicorn
whitenoise
django-notifications-hq
django-cache-machine
python3-memcached
requests
djangorestframework
markdown
django-filter
python-dateutil
pillow
dj-static
djorm-ext-pgfulltext
asgi_redis
asgi_ipc
asgiref
autobahn
channels
daphne
docutils
msgpack-python
redis
six
statistics
Twisted
txaio
zope.interface
djangorestframework-jwt
pyrebase
psycopg2
scrapy
numpy
scikit-learn
pandas
